.icon{
	display: inline-block;
	vertical-align: middle;
	&:before{
		content: '';
		background-repeat: no-repeat;
		background-size: cover;
		width: 16px;
		height: 16px;
		display: block;
	}
	&.icon-caret-left{
		&:before{
			background-image: url(../../images/icons/arrow-left.png);
		}
	}
}